:host {
  --ds-expandable-navbar-height: auto;

  // nav.navbar {
  //   background-color: var(--ds-navbar-bg);
  //   align-items: center;
  //   padding: 0;
  //   min-height: 48px;
  // }

  nav.navbar {
    background-color: var(--ds-navbar-bg);
    align-items: center;
    padding: 0;
    min-height: 56px;
  }

  /** Mobile menu styling **/
  @media screen and (max-width: map-get($grid-breakpoints, md)-0.02) {
    .navbar {
      width: 100vw;
      background-color: var(--bs-white);
      position: absolute;
      overflow: hidden;
      height: 0;
      z-index: var(--ds-nav-z-index);

      &.open {
        height: auto;
        min-height: 100vh;
        border-bottom: 1px solid var(--ds-header-navbar-border-bottom-color);
      }
    }
  }

  @media screen and (min-width: map-get($grid-breakpoints, md)) {
    .reset-padding-md {
      margin-left: calc(var(--bs-spacer) / -1);
      margin-right: calc(var(--bs-spacer) / -1);
    }
  }

  /* Bootstrap fix */
  .navbar-expand-md.navbar-container {
    @media screen and (max-width: map-get($grid-breakpoints, md)-0.02) {
      >.navbar-inner-container {
        padding: 0 var(--bs-spacer);
      }

      padding: 0;
    }
  }

  #main-navbar ::ng-deep {

    // .navbar-nav {
    //   display: flex;
    //   align-items: center;
    //   gap: 2.5rem;
    //   height: 100%;
    // }

    .navbar-nav {
      display: flex;
      align-items: center;
      gap: 3rem;
      height: 100%;
    }

    .ds-menu-item,
    .ds-menu-toggler-wrapper {
      display: inline-flex;
      align-items: center;
      white-space: nowrap;
      text-decoration: none !important;

      // font-size: 14px !important;
      // font-weight: 600 !important;
      // line-height: 1;

      font-size: 16px !important;
      font-weight: 600 !important;
      line-height: 1.2;
      font-family: 'Inter', sans-serif;

      color: #0F2D52 !important;

      transition: color .2s ease;
    }

    // .ds-menu-item {
    //   padding: 0.5rem 0;
    // }

    .ds-menu-item {
      padding: 0.8rem 0;
    }

    .ds-menu-item:hover,
    .ds-menu-item:focus,
    .ds-menu-toggler-wrapper:hover,
    .ds-menu-toggler-wrapper:focus {
      color: #0F2D52 !important;
    }

    .ds-menu-toggler-wrapper::after {
      margin-left: 6px;
      vertical-align: middle;
      font-size: 10px;
      color: #0F2D52;
    }

    .dropdown-menu {
      padding: 0.5rem !important;
    }

    /* Icons */
    .ds-menu-item i,
    .ds-menu-toggler-wrapper i,
    .ds-menu-item .fa,
    .ds-menu-toggler-wrapper .fa,
    .ds-menu-item .fas,
    .ds-menu-toggler-wrapper .fas,
    .ds-menu-item .ti,
    .ds-menu-toggler-wrapper .ti {
      color: #0F2D52 !important;
      font-size: 13px !important;
      margin-right: 6px;
    }
  }
}