<footer>

    <div class="footer-inner">

        <!-- SUPPORT TEXT -->

        <div class="footer-supported">
            Supported by Anthem Global Technology Services Pvt. Ltd
        </div>

        <!-- FOOTER LINKS -->

        <div class="footer-links">

            <!-- COOKIE SETTINGS -->

            <a routerLink="/cookies">
                Cookie settings
            </a>

            <span class="sep">·</span>

            <!-- PRIVACY POLICY -->

            <a routerLink="/info/privacy">
                Privacy policy
            </a>

            <span class="sep">·</span>

            <!-- END USER AGREEMENT -->

            <a routerLink="/info/end-user-agreement">
                End User Agreement
            </a>

            <span class="sep">·</span>

            <!-- FEEDBACK -->

            <a routerLink="/info/feedback">
                Send Feedback
            </a>

            <span class="sep">·</span>

            <!-- COAR -->

            <a href="https://notify.coar-repositories.org" target="_blank" rel="noopener noreferrer">
                COAR Notify
            </a>

        </div>

    </div>

</footer>