<div class="background-image-container mt-ncs">
  <div class="container">
    <div class="jumbotron py-4 px-2 py-sm-5 px-sm-0 mt-0 mb-4">
      <div class="d-flex flex-wrap">
        <div>
          <h1 class="display-2">Orissa High Court </h1>
        </div>
      </div>
    </div>
  </div>
  <picture class="background-image">
    <source type="image/webp" srcset="assets/dspace/images/s05012023.jpg 2000w, assets/dspace/images/s05012023.jpg 1200w, assets/dspace/images/s05012023.jpg 768w">
    <source type="image/jpg" srcset="assets/dspace/images/s05012023.jpg 2000w, assets/dspace/images/s05012023.jpg 1200w, assets/dspace/images/s05012023.jpg 768w">
    <img alt="" [src]="'assets/dspace/images/s05012023.jpg'"/>
  </picture>
  <small class="credits">Photo by <a href="https://www.pexels.com/@inspiredimages">&#64;inspiredimages</a></small>
</div>