<!-- <form #form="ngForm" (ngSubmit)="onSubmit(form.value)" action="/search">
    <div>
        <div class="mb-3 input-group">
                <button *ngIf="showScopeSelector" class="scope-button btn btn-outline-secondary text-truncate"
                        [ngbTooltip]="dsoNameService.getName(selectedScope | async)" type="button"
                        (click)="openScopeModal()">
                  {{dsoNameService.getName(selectedScope | async) || ('search.form.scope.all' | translate)}}
                </button>
            <input type="text" [(ngModel)]="query" name="query" class="form-control"
                   [attr.aria-label]="searchPlaceholder" [attr.data-test]="'search-box' | dsBrowserOnly"
                   [placeholder]="searchPlaceholder">
            <button type="submit" class="search-button btn btn-{{brandColor}}" [attr.data-test]="'search-button' | dsBrowserOnly"><i class="fas fa-search"></i> {{ ('search.form.search' | translate) }}</button>
        </div>
    </div>
</form>


 -->


<form #form="ngForm" (ngSubmit)="onSubmit(form.value)" action="/search">

    <div class="modern-search-wrapper">

        <div class="modern-search-group input-group">

            <!-- SCOPE BUTTON -->

            <button *ngIf="showScopeSelector" class="scope-button btn btn-outline-secondary text-truncate"
                [ngbTooltip]="dsoNameService.getName(selectedScope | async)" type="button" (click)="openScopeModal()">

                {{
                dsoNameService.getName(selectedScope | async)
                || ('search.form.scope.all' | translate)
                }}

            </button>

            <!-- SEARCH INPUT WRAPPER -->

            <div class="search-input-wrapper">

                <!-- ICON INSIDE INPUT -->

                <i class="fas fa-search search-inside-icon"></i>

                <!-- INPUT -->

                <input type="text" [(ngModel)]="query" [value]="query || ''" name="query" class="form-control"
                    aria-label="Search Judicial Records" [attr.data-test]="'search-box' | dsBrowserOnly"
                    placeholder="Search case number, petitioner, judge..." autocomplete="off">

            </div>

            <!-- BUTTON -->

            <button type="submit" class="search-button btn btn-{{brandColor}}"
                [attr.data-test]="'search-button' | dsBrowserOnly">

                {{ ('search.form.search' | translate) }}

            </button>

        </div>

    </div>

</form>